/* #myid{
    height: 200px;
    width: 100px;
    color: white;
    background-color: blue;
    border: 2px solid black;
} */


.myclass{
    color: brown;
    background-color: blueviolet;
}


.n000{
    color: azure;
    background-color: chartreuse;
}